@if ((bool)(ViewData["Status"] ?? false))
{
	<h1 class="text-success">Ваш аккаунт успешно подтвержден</h1>
	<p>Теперь вы можете войти в систему</p>
}
else
{
	<h1 class="text-danger">Ошибка при подтверждении аккаунта</h1>
	<p>Попробуйте еще раз</p>
}