<div class="bg-light col-2">
	<ul class="nav nav-pills">
		<li><a id="navAccount" class="nav-link link-dark" asp-action="Index"><i class="fa-regular fa-user me-2"></i><span class="d-none d-md-block">Аккаунт</span></a></li>
		<li><a id="navBookmarks" class="nav-link link-dark" asp-action="Bookmarks"><i class="fa-regular fa-bookmark me-2"></i><span class="d-none d-md-block">Закладки</span></a></li>
	</ul>
</div>