<div class="d-flex flex-column bg-light col-2">
	<ul class="nav nav-pills flex-column">
		<li><a id="navAccount" class="nav-link link-dark" asp-action="Index"><i class="fa-regular fa-user me-2"></i>Аккаунт</a></li>
		<li><a id="navBookmarks" class="nav-link link-dark" asp-action="Bookmarks"><i class="fa-regular fa-bookmark me-2"></i>Закладки</a></li>
	</ul>
</div>