<input type="hidden" id="file-path" value="@ViewBag.FilePath" />
<div class="input-group mb-3">
    <input class="form-control" type="number" id="page-input" />
    <button id="go-to-page" class="btn btn-outline-secondary">Перейти</button>
</div>
<div class="text-center">
    <div class="top-bar mb-3 sticky-top bg-white">
        <button class="btn" id="prev-page">
            <i class="fas fa-arrow-circle-left"></i> Назад
        </button>
        <span class="page-info">
            <span id="page-num"></span> / <span id="page-count"></span>
        </span>
        @* <span>
            <span>
                <input class="col-1 text-center" inputmode="numeric" id="page-num" />
            </span>
            /
            <span id="page-count"></span>
        </span> *@
        <button class="btn" id="next-page">
            Вперед <i class="fas fa-arrow-circle-right"></i>
        </button>
    </div>

    <div class="bg-dark">
        <canvas id="pdf-render"></canvas>
    </div>
</div>

<script type="module" src="~/lib/pdf-js/pdf.mjs"></script>
<script type="module" src="~/js/pdf-reader.js"></script>

@* <script type="text/javascript">
    let pageInput = document.getElementById('page-input');
    document.getElementById('go-to-page').addEventListener('click', function (e) {
        e.preventDefault();
        queueRenderPage(pageInput.value);
    });    
</script> *@