@{
	ViewData["Title"] = "Менделеевская электронная библиотека";
}

<div class="card bg-dark text-white">
    <img src="/images/lib.jpg" class="card-img" />
    <div class="card-img-overlay" style="background-color: rgba(0, 0, 0, 0.3)">
        <div class="position-absolute bottom-0 pb-2"><h5 class="card-title fs-2">Добро пожаловать</h5>
        <p class="card-text fs-4">
            в демо-версию Менделеевской информационной библиотечной системы!
        </p>
        </div>
    </div>
</div>